#include "timer.h"
//-------------------
// Main Dialog 
//-------------------
IDI_ICON_ON ICON "sem.ico"
// IDI_ICON_OFF ICON "pi-red.ico"
// STYLE WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU |WS_OVERLAPPED
IDD_MAIN DIALOG 0, 0, 347, 122
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU |WS_BORDER | WS_GROUP
FONT 8, "MS Shell Dlg"

BEGIN
    PUSHBUTTON      "Start",IDC_START,38,80,50,14
    // PUSHBUTTON      "Stop",IDC_STOP,153,80,50,14
    PUSHBUTTON      "Reset",IDC_RESET,252,80,50,14
    // CONTROL         "Count Seconds",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,139,85,64,10
    GROUPBOX        "",IDC_STATIC,16,63,308,45
    CTEXT           "",IDC_HH,16,28,73,31, SS_CENTERIMAGE  | SS_SUNKEN
    CTEXT           "",IDC_COLON1,107,24,25,31,SS_CENTERIMAGE 
    CTEXT           "",IDC_MM,150,28,56,31,SS_CENTERIMAGE  | SS_SUNKEN
    CTEXT           "",IDC_COLON2,224,24,25,31,SS_CENTERIMAGE
    CTEXT           "",IDC_SS,267,28,56,31,SS_CENTERIMAGE  | SS_SUNKEN
END            


//BEGIN
//    CONTROL         "Enable",ID_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,20,50,14
//    PUSHBUTTON      "OK",ID_OK,20,45,30,14
//    PUSHBUTTON      "Help",ID_HELP,115,20,30,14
//    PUSHBUTTON      "Exit",ID_EXIT,115,45,30,14
//    GROUPBOX        "Palamedes",IDC_STATIC,6,4,156,67
//END
